{% extends "template.html.twig" %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<h2>Bienvenue sur la page des Commentaires</h2>
<p>
    Ici on présente les commentaire !
</p>

{% for comment in comments %}
<h2>{{ comment.title }}</h2>
<p>{{ comment.content }}</p>
<p>id Commentaire: {{ comment.id_comment }}, id Utilisateur {{ comment.id_user }}Date: {{ comment.date }}Notes: {{ comment.note }}</p>
{% endfor %}

{% for theComment in OneComment %}
<h2 style="color:red">{{ theComment.title }}</h2>
<p>{{ theComment.content }}</p>
<p>id Commentaire: {{ theComment.id_comment }}, id Utilisateur {{ theComment.id_user }} Date: {{ theComment.date }}Notes: {{ theComment.note }}</p>
{% endfor %}

{#{ dump(liaison) }#}
{% for commOfWorks in liaison %}
<h2 style="color:green">Commentaire {{ commOfWorks.id_comment}}</h2>
{% endfor %}



{% endblock %}
