{% extends "template.html.twig" %}
{% block body %} 
<h2>{{ result.title}}</h2>
<img src="{{ result.picture}}" style="width:600px;height:800px;"></img>
<p>{{ result.year}}</p>
<p>{{ result.style}}</p>
<p>{{ result.time}}</p>
<p>{{ result.abstract}}</p>



{% endblock %}