{% extends "template.html.twig" %}

{% block body %}

<div class="container-fluid d-flex justify-content-start">
   <div class="row">
      <aside id="navlateral" class="col-12 col-md-12 p-0 pt-lg-3 pl-lg-0 bg-dark">
         <div class="text-center text-white bg-dark font-weight-bold">GESTION PROFILE</div>
         <div class="text-center text-white bg-dark font-weight-bold pt-lg-3 pl-lg-0">
            <img src="{{ avatar }}" class="img-thumbnail m-4">
            <div class="pt-lg-2 pl-lg-0">{{user}}</div>
         </div>
         <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
            <div class="collapse navbar-collapse">
               <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                  <li class="nav-item">
                     <span class="border-color text-white font-weight-bold m-0 p-1">Connexion</span>
                     <ul class="list-color">
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Pseudo">Pseudo</a></li>
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Avatar">Avatar</a>
                        </li>
                        {% set mdp = 'Mdp' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Mdp">Mot de passe</a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <span class="border-color text-white font-weight-bold m-0 p-1">Messagerie</span>
                     <ul class="list-color">
                        {% set send = 'Envoyer' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Envoyer">Envoyer</a>
                        </li>

                        {% set receive = 'Recevoir' %}
                        <li><a class="nav-link pl-0"
                              href="{{baseUrl}}/Profile/Modifier/Recevoir_{{receive}}">Réception</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <span class="border-color text-white font-weight-bold m-0 p-1">Suppresion</span>
                     <ul class="list-color">
                        {% set account = 'Compte' %}
                        <li class="nav-item">
                           <a class="nav-link pl-0" href="{{baseUrl}}/Profile/Supprimer/Compte">Compte</a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </aside>
   </div>
   {% if (slug == 'accueil') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div class="card h-100 justify-content-center">
                  <div class="text-center">
                     <div class="card">
                        <div class="card-body">
                           <img src="{{ avatar }}" class="w-25 p-3">
                          <h5 class="card-title">Bienvenu sur votre page Profile </h5>
                          <h6 class="card-subtitle mb-2 text-muted">Personnalisez votre compte</h6>
                          <p class="card-text"> {{user}}</p>
                        </div>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'pseudo') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div id="alerteDisplay">
                  {{ alert | striptags ('<div>') | raw }}
               </div>
               <div class="card h-100 justify-content-center bg-secondary text-white">
                  <div class="text-center">
                     <img src="{{ avatar }}" class="img-thumbnail m-4">
                     <div class="pt-lg-2 pl-lg-0">{{user}}</div>
                     <form method="POST" action="{{baseUrl}}/Profile/Change/Pseudo">
                        <div class="col-md-12 mb-3">
                           <label for="pseudo">Changez votre Pseudonyme</label>
                           <input type="text" class="form-control text-center bg-dark text-white" name="pseudo"
                              placeholder="{{user}}">
                        </div>
                        <button class="btn btn-secondary" type="submit">Modifier</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'avatar') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div id="alerteDisplay">
                  {{ alert | striptags ('<div>') | raw }}
               </div>
               <div class="card h-100 justify-content-center">
                  <div class="text-center bg-secondary text-white">
                     <img src="{{avatar}}" class="img-thumbnail m-4">
                     <form method="POST" enctype="multipart/form-data" action="{{baseUrl}}/Profile/Modifier/Avatar">
                        <input type="file" name="avatarUpload" id="file" class="inputfile" onchange='uploadFile(this)'>
                        <div class="inputfile-box text-center">
                           <input type="file" id="avatarUpload" class="inputfile" onchange='uploadFile(this)'>
                           <label for="file" class="justify-content-center">
                              <span>
                                 <i class="fa fa-upload btn btn-dark m-4"> Avatar</i></span><br>
                              <span><br>Formats acceptés:<br>bmp, jpg, jpeg, png, gif, tiff</span><b></span><br><br>
                                 <button class="btn btn-dark m-5" type="submit">Modifier</button>
                                 <span id="file-name" class="file-box"></span>
                           </label>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'mdp') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div id="alerteDisplay">
                  {{ alert | striptags ('<div>') | raw }}
               </div>
               <div class="card h-100 justify-content-center bg-secondary text-white">
                  <div class="text-center">
                     <img src="{{ avatar }}" class="img-thumbnail">
                     <div class="pt-lg-2 pl-lg-0">{{user}}</div>
                     <form name="mdp" method="POST" action="{{baseUrl}}/Profile/Modifier/Mdp"
                        class="bg-secondary text-white">
                        <div class="col-md-12 mb-3">
                           <label for="mdp" class="m-4">Changez votre mot de passe</label>
                           <input type="text" class="form-control text-center bg-dark text-white" name="mdp"
                              placeholder="Nouveau mot de passe">
                           <button class="btn btn-dark m-5" type="submit">Modifier</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'Envoyer') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div id="alerteDisplay">
                  {{ alert | striptags ('<div>') | raw }}
               </div>
               <div class="card h-100 justify-content-center bg-secondary text-white">
                  <div class="text-center">
                     <img src="{{ avatar }}" class="img-thumbnail m-4">
                     <div class="m-4">{{user}}</div>
                     <form id="envoyer" name="send" method="POST" action="{{baseUrl}}/Profile/Envoyer_{{pseudo}}"
                        class="bg-secondary text-white">
                        <div class="col-md-12 mb-3">
                           <input class="form-control text-center bg-dark text-white" name="pseudoMessage"
                              id="pseudoMessage" rows="1" placeholder="Envoyer à : Pseudo ?">
                           <input class="form-control text-center card bg-dark text-white" name="pseudoMessage"
                              id="pseudoMessage" rows="1" placeholder="Expéditeur : {{user}}" disabled="disabled"
                              value"{{user}}">
                           <textarea class="form-control text-center bg-dark text-white" name="title" id="tilteMessage"
                              rows="1" placeholder="Titre"></textarea>
                           <textarea class="form-control text-center card bg-dark text-white" name="message"
                              id="Message" rows="3" placeholder="Message"></textarea>
                           <input type="hidden" name="datedujour" id="datedujour" value="{{ datedujour }}">
                           <span>{{ datedujour }}</span><br>
                           <button class="btn btn-dark m-5" type="submit">Envoyer</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'recevoir') %}
   <div class="container h-100">
      <div class="row align-items-center h-100">
         <div class="col-12 p-5">
            <div class="card h-100 justify-content-center">
               <div class="text-center">
                  <h2>MESSAGERIE</h2>
               </div>
               {% for mess in message %}
               <div class="col-12">
                  <div id="alerteDisplay">
                     {{ alert | striptags ('<div>') | raw }}
                  </div>
                  <div class="accordion" id="accordionExample">
                     <div class="card bg-dark text-white">
                        <div class="row">
                           <div class="col">
                              <div class="card bg-secondary text-white">
                                 <h4 type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}"
                                    aria-expanded="true" aria-controls="collapse{{ loop.index }}" class="card-header">
                                    {{mess.title}} <small
                                       class="pull-right text-white">Expéditeur : {{mess.expeditor }}</small></h4>
                              </div>
                           </div>
                        </div>
                        <div id="collapse{{ loop.index }}" class="collapse hide"
                           aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
                           <div class="card-body">
                              {{mess.message}}
                           </div>
                           <div class="row justify-content-center">
                              <button class="btn btn-link-secondary font-weight-bold text-secondary border m-2"
                                 type="button" onclick="location.href='{{baseUrl}}/Profile/Envoyer_{{mess.expeditor}}'">
                                 Répondre
                              </button>
                              <button class="btn btn-link-secondary font-weight-bold text-secondary border m-2"
                                 type="button"
                                 onclick="location.href='{{baseUrl}}/Profile/Message/Supprimer_{{mess.id_message}}'">
                                 Supprimer
                              </button>
                           </div>
                        </div>
                        <div class="card-footer text-muted">
                           Date de réception :
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if (slug == 'compte') %}
   <div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100">
            <div class="col-12">
               <div id="alerteDisplay">
                  {{ alert | striptags ('<div>') | raw }}
               </div>
               <div class="card h-100 justify-content-center bg-secondary text-white">
                  <div class="text-center">
                     <img src="{{ avatar }}" class="img-thumbnail m-4">
                     <form name="compte" method="POST" action="{{baseUrl}}/Profile/Supprimer/Compte_{{user}}">
                        <button class="btn btn-dark m-5" type="submit">Suppression</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
   document.addEventListener("DOMContentLoaded", function (event) {
      if (document.getElementById("alerteDisplay")) {
         location.href = "#alerteDisplay";
         $("#alerte").fadeTo(3000, 500).slideUp(500, function () {
            $("#alerte").slideUp(500);
            let adressPage = document.getElementById('alerte');
            let adressRedirect = adressPage.dataset.adress;
            if (adressRedirect != null) {
               location.href = adressRedirect;
            }
         });
      }
   });
</script>
{% endblock %}
{#
<div class="container">
      <div class="container h-100">
         <div class="row align-items-center h-100" style="border:1px solid red">
            <div class="col-12">
               <div class="card h-100 justify-content-center" style="border:1px solid red">
                  <div class="text-center">
                     Le contenu est centré verticalement.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      #}