{% extends "template.html.twig" %}

{% block body %}

<div class="container-fluid d-flex justify-content-start">
   <div class="row">
      <aside id="navlateral" class="col-12 col-md-12 p-0 bg-dark">
         <div class="text-center text-white bg-dark font-weight-bold">GESTION PROFILE</div>
         <div class="text-center text-white bg-dark font-weight-bold">


            <img src="{{ avatar }}" class="img-thumbnail"><br>{{user}}</div>

         <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
            <div class="collapse navbar-collapse">
               <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">

                  <li class="nav-item">Connexion
                     <ul>
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Pseudo">Pseudo</a></li>


                        {% set avatar = 'Avatar' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Avatar">Avatar</a>
                        </li>

                        {% set mdp = 'Mdp' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Modifier/Mdp">Mot de passe </a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">Messagerie
                     <ul>
                        {% set send = 'Envoyer' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Envoyer">Envoyer</a>
                        </li>

                        {% set receive = 'Recevoir' %}
                        <li><a class="nav-link pl-0"
                              href="{{baseUrl}}/Profile/Modifier/Recevoir_{{receive}}">Réception</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">Suppresion
                     <ul>
                        {% set account = 'Compte' %}
                        <li><a class="nav-link pl-0" href="{{baseUrl}}/Profile/Supprimer/Compte">Compte</a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </aside>
   </div>

   <div class="col justify-content-end">
      <div class="col d-flex justify-content-center pt-5 pb-5">

         {% if (slug == 'pseudo') %}
         <form method="POST" action="{{baseUrl}}/Profile/Change/Pseudo">
            <div class="form-row">
               <div class="col-md-12 mb-3">
                  <label for="pseudo">Changer votre Pseudonyme</label>
                  <input type="text" class="form-control" name="pseudo" placeholder="{{user}}">
               </div>
            </div>
            <div class="row justify-content-center">
               <button class="btn btn-secondary" type="submit">Modifier</button>
            </div>
      </div>
      <div class="row justify-content-center p-2">
         {% if (alert == 'warning') %}
         <div class="alert alert-warning" role="alert">
            <p class="mb-0">Veuillez saisir un nouveau pseudo!</p>
         </div>
         {% elseif (alert == 'good') %}
         <div class="alert alert-success" role="alert">
            <p class="mb-0">Pseudo bien modifié!</p>
         </div>
         {% elseif (alert == 'empty') %}
         <div class="alert alert-danger" role="alert">
            <p class="mb-0">Pseudo déjà utiliser, veuillez choisir un autre!</p>
         </div>
         {% endif %}

         </form>
         {% endif %}


         {% if (slug == 'avatar') %}
         <form method="POST" enctype="multipart/form-data" action="{{baseUrl}}/Profile/Modifier/Avatar">

            <div>
               <input type="file" name="avatarUpload" id="file" class="inputfile" />
               <label for="file">Photo de profile</label>
            </div>

            <div class="row justify-content-center">
               <button class="btn btn-secondary" type="submit">Modifier</button>
            </div>
      </div>

      <div class="row justify-content-center p-2">

         {% if (alert == 'size') %}
         <div class="alert alert-warning" role="alert">
            <p class="mb-0">La taille de votre avatar est trop importante!</p>
         </div>
         {% elseif (alert == 'format') %}
         <div class="alert alert-warning" role="alert">
            <p class="mb-0">Le format de votre avatar n'est pas accepté!</p>
         </div>
         {% elseif (alert == 'empty') %}
         <div class="alert alert-danger" role="alert">
            <p class="mb-0">Veuillez indiqué un fichier!</p>
         </div>
         {% elseif (alert == 'bdd') %}
         <div class="alert alert-warning" role="alert">
            <p class="mb-0">Une erreur de connexion est servenu!</p>
         </div>
         {% elseif (alert == 'good') %}
         <div class="alert alert-success" role="alert">
            <p class="mb-0">Avatar bien modifié!</p>
         </div>
         {% endif %}


         </form>
         {% endif %}


         {% if (slug == 'mdp') %}
         <form name="mdp" method="POST" action="{{baseUrl}}/Profile/Modifier/Mdp">
            <div class="form-row">
               <div class="col-md-12 mb-3">
                  <label for="mdp">Changer votre Mot de Passe</label>
                  <input type="text" class="form-control" name="mdp" placeholder="Nouveau mot de passe">
               </div>
            </div>
            <div class="row justify-content-center">
               <button class="btn btn-secondary" type="submit">Modifier</button>
            </div>
            <div class="row justify-content-center p-2">

               {% if (alert == 'empty') %}
               <div class="alert alert-danger" role="alert">
                  <p class="mb-0">Veuillez indiqué un nouveau mot de passe!</p>
               </div>
               {% elseif (alert == 'warning') %}
               <div class="alert alert-warning" role="alert">
                  <p class="mb-0">Un problème de connection est survenu! Recommencez...</p>
               </div>
               {% elseif (alert == 'good') %}
               <div class="alert alert-success" role="alert">
                  <p class="mb-0">Votre mot de passe a bien été enregistré!</p>
               </div>
               {% endif %}
            </div>
         </form>

         {% endif %}
         {% if (slug == 'Envoyer') %}
         <div class="container">
            <form name="send" method="POST" action="{{baseUrl}}/Profile/Envoyer_{{pseudo}}">
               <div class="form-row">
                  <div class="p-2 container">
                     <input class="form-control" name="pseudoMessage" id="pseudoMessage" rows="1"
                        placeholder="Envoyer a: Pseudo?" value=""></div>
                  <div class="p-2 container">
                     <textarea class="form-control" name="title" id="tilteMessage" rows="1" placeholder="Titre"
                        value=""></textarea>
                  </div>
                  <div class="p-2 container">
                     <textarea class="form-control" name="message" id="Message" rows="3" placeholder="Message"
                        value=""></textarea>
                  </div>
               </div>
               <div class="row justify-content-center">

                  <button class="btn btn-secondary" type="submit">Envoyer</button>
               </div>
               <div class="row justify-content-center p-2">



                  {#} {% if (alert == 'error') %}
                  <div class="alert alert-danger" role="alert">
                     <p class="mb-0">Votre message n'a pas pu être transmis!</p>
                  </div>
                  {% elseif (alert == 'good') %}
                  <div class="alert alert-success" role="alert">
                     <p class="mb-0">Votre message a bien été envoyer!</p>
                  </div  {% endif %}>

                  <div class="fullscreen">

                     <div class="col-sm-6">
                        <button class="form-control" onclick="myAlertBottom()">show alert bottom</button>
                     </div>
                  </div>

                  <div class="myAlert-bottom alert alert-danger">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                  </div>
               </div>

               <script>
                  function myAlertBottom() {
                     $(".myAlert-bottom").show();
                     setTimeout(function () {
                        $(".myAlert-bottom").hide();
                     }, 2000);
                  }
               </script>#}



         </div>
         </form>
      </div>


      {% endif %}
      {% if (slug == 'recevoir') %}
      <h2>Messagerie</h2>
   </div>
   {% for mess in message %}
   <div class="container">
      <div class="accordion" id="accordionExample">
         <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
               <h5 class="mb-0">
                  <div class="row justify-content-center">
                     <button class="btn btn-link-secondary font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapse{{ loop.index }}" aria-expanded="true"
                        aria-controls="collapse{{ loop.index }}">
                        <h5>{{mess.title}}</h5>
                     </button>
                  </div>
               </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse hide" aria-labelledby="heading{{ loop.index }}"
               data-parent="#accordionExample">
               <div class="card-body">
                  {{mess.message}}
               </div>
               <div class="row justify-content-center">
                  <button class="btn btn-link-secondary font-weight-bold text-secondary border" type="button"
                     onclick="location.href='{{baseUrl}}/Profile/Envoyer_{{mess.expeditor}}'">
                     Répondre
                  </button>
                  <button class="btn btn-link-secondary font-weight-bold text-secondary border" type="button"
                     onclick="location.href='{{baseUrl}}/Profile/Message/Supprimer_{{mess.id_message}}'">
                     Supprimé
                  </button>
               </div>
            </div>
         </div>
      </div>
      <script>
         $('.collapse').collapse()
      </script>
   </div>
   {% endfor %}
   {% endif %}
   {% if (slug == 'compte') %}
   <form name="compte" method="POST" action="{{baseUrl}}/Profile/Supprimer/Compte_{{user}}">

      <div class="row justify-content-center">
         <button class="btn btn-secondary" type="submit">Suppression</button>
      </div>
      <div class="row justify-content-center p-2">

         {% if (alert == 'error') %}
         <div class="alert alert-danger" role="alert">
            <p class="mb-0">Un erreur est survenu!</p>
         </div>
         {% elseif (alert == 'good') %}
         <div class="alert alert-success" role="alert">
            <p class="mb-0">Votre compte viens d'être supprimé!</p>
         </div>
      </div>
   </form>

   {% endif %}
   {% endif %}
</div>


{% endblock %}