{% extends "template.html.twig" %}

{% block body %}

   <h2>{{movie.title}}</h2>
   <img src="{{movie.picture}}"></img>
   <p>{{movie.year}}</p>
   <p>{{movie.style}}</p>
   <p>{{movie.time}}</p>
   <p>{{movie.resume}}</p>

   {% for artist in artists %}
      <ul>
         <li><a href="{{baseUrl}}/Artiste">{{artist.first_name}} {{artist.last_name}}</a></li>
      </ul>
   {% endfor %}

{% endblock %}