{% extends "template.html.twig" %}

{% block title %}Film{% endblock %}

{% block body %}
   <div class="d-flex">
      <img src="{{result.picture}}"></img>
      <div class="d-flex flex-column m-5">
         <div class="d-flex justify-content-center" >
            <h1 class="text-primary pb-5">{{result.title}}</h1>
         </div>   
         <p>{{result.year}}</p>
         <p>{{result.style}}</p>
         <p>{{result.time}}</p>
         <p>{{result.resume}}</p>
      </div>
   </div>   


   <button type="button" class="btn btn-outline-primary mt-5"><a class="text-decoration-none text-reset" href="{{baseUrl}}/Films">Films</a></button>

   <h2>{{movie.title}}</h2>
   <img src="{{movie.picture}}"></img>
   <p>{{movie.year}}</p>
   <p>{{movie.style}}</p>
   <p>{{movie.time}}</p>
   <p>{{movie.resume}}</p>

   {% for artists in artists %}

      {% if artists.role == 1 %}
         {% set role = 'Acteur' %}

         {% elseif artists.role == 2 %}
            {% set role = 'Réalisateur' %}
         {% elseif artists.role == 3 %}
            {% set role = 'Réalisateur & Acteur' %}
      {% endif %}

      <ul>
         <li>{{role}} : <a href="{{baseUrl}}/Films/Artiste_{{artists.id_artist}}">{{artists.first_name}} {{artists.last_name}}</a></li>
      </ul>
   {% endfor %}

{% endblock %}
