{% extends "template.html.twig" %}

{% block body %}
    <h2>{{result.title}}</h2>
    <img src="{{result.picture}}"></img>
    <p>{{result.year}}</p>
    <p>{{result.style}}</p>
    <p>{{result.time}}</p>
    <p>{{result.resume}}</p>
{% endblock %}
