{% extends "template.html.twig" %}

{% block title %}Film{% endblock %}

{% block body %}

   <h2>{{movie.title}}</h2>
   <img src="{{movie.picture}}"></img>
   <p>{{movie.year}}</p>
   <p>{{movie.style}}</p>
   <p>{{movie.time}}</p>
   <p>{{movie.resume}}</p>

   {% for artists in artists %}

      {% if artists.role == 1 %}
         {% set role = 'Acteur' %}

         {% elseif artists.role == 2 %}
            {% set role = 'Réalisateur' %}
         {% elseif artists.role == 3 %}
            {% set role = 'Réalisateur & Acteur' %}
      {% endif %}

      <ul>
         <li>{{role}} : <a href="{{baseUrl}}/Artiste_{{artists.id_artist}}">{{artists.first_name}} {{artists.last_name}}</a></li>
      </ul>
   {% endfor %}

{% endblock %}
