{% extends "template.html.twig" %}

{% block title %}Film{% endblock %}

{% block body %}

   <img src="{{movie.picture}}"></img>
   <h2>{{movie.title}}</h2>
   <p>Année : {{movie.year}}</p>
   <p>Genre : {{movie.style}}</p>
   <p>Durée : {{movie.time | date('H:i:s')}}</p>
   <p>Résumé : <br> {{movie.resume}}</p>

   {% for artists in artists %}

      {% if artists.role == 1 %}
         {% set role = 'Acteur' %}

         {% elseif artists.role == 2 %}
            {% set role = 'Réalisateur' %}
         {% elseif artists.role == 3 %}
            {% set role = 'Réalisateur & Acteur' %}
      {% endif %}

      <ul>
         <li>{{role}} : <a href="{{baseUrl}}/Films/Artiste_{{artists.id_artist}}">{{artists.first_name}}
               {{artists.last_name}}</a></li>
      </ul>
   {% endfor %}
   {% if comments %}
   <div class="container2">
      {% for comment in comments %}
   
         <h2>{{ comment.title }}</h2>
         <p>{{ comment.content }}</p>
         <p>Commentaire: N°{{ comment.id_comment }}, Utilisateur: {{ comment.id_user }} Date de publication: {{ comment.date }}</p>
         <div class="star-note">
            {% for i in 1..comment.note %}
            <label></label>
            {% endfor %}
         </div>
   
      {% endfor %}
   </div>
   {% endif %}

   {% block comment %}
   
   <div class="container2">
      <form method="POST" id="comment" action="{{baseUrl}}/Comments/addComment/{{movie.id_movie}}">
         {% if status == 1 %}
            {% if tmpTitle  %}
               <input class="form-control" type="text" name="title" placeholder="{{ tmpTitle }}" value="{{ tmpTitle }}">
            {% else %}
               <input class="form-control" type="text" name="title" placeholder="Titre">
            {% endif %}
            {% if tmpComment %}
               <textarea class="form-control" name="controlText" id="ControlText" rows="3" placeholder="{{ tmpComment }}" value="{{ tmpComment }}"></textarea>
            {% else %}
               <textarea class="form-control" name="controlText" id="ControlText" rows="3" placeholder="Votre commentaire"></textarea>
            {% endif %}
         {% else %}
            <input class="form-control" type="text" name="title" placeholder="Titre">
            <textarea class="form-control" name="controlText" id="ControlText" rows="3" placeholder="
               {{ user}}"></textarea>
         {% endif %}
         <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
               <div class="form-group">
                  {% if status == 1 %}
                     {% if tmpNote %}
                     <div id="containerstar" class="star-complet{{tmpNote}}">
                     {% else %}
                     <div id="containerstar" class="star">
                        {% endif %}
                  {% elseif status == 0 %}
                     <div id="containerstar" class="star">
                  {% endif %}
                     <!--System de notation par étoile-->
                     <label for="note-5" class="labelButon">☆</label>
                     <input class="radio" type="radio" name="note" id="note-5" value="5">
                     <label for="note-4" class="labelButon">☆</label>
                     <input class="radio" type="radio" name="note" id="note-4" value="4">
                     <label for="note-3" class="labelButon">☆</label>
                     <input class="radio" type="radio" name="note" id="note-3" value="3">
                     <label for="note-2" class="labelButon">☆</label>
                     <input class="radio" type="radio" name="note" id="note-2" value="2">
                     <label for="note-1" class="labelButon">☆</label>
                     <input class="radio" type="radio" name="note" id="note-1" value="1">
                  </div>
               </div>
            </div>
         {% if status == 1 %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
               <div class="d-flex justify-content-center">
               {% for inf in user %}
                  <span>{{ inf.pseudo }}</span>
               {% endfor %}
               </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
               <div class="d-flex justify-content-end">
                  <span>{{ datedujour }}</span>
               </div>
            </div> 
         {% endif %}
         </div>
            <button type="submit" class="btn btn-success btn-sm mb-2">Poster</button>   
      </form>
   </div> 
   {#fin du block comment#} 
   {% endblock %}
   {# fin du block body #}






{% endblock %}
