{% extends "template.html.twig" %}

{% block title %}Film{% endblock %}

{% block body %}

   <img src="{{movie.picture}}"></img>
   <h2>{{movie.title}}</h2>
   <p>Année : {{movie.year}}</p>
   <p>Genre : {{movie.style}}</p>
   <p>Durée : {{movie.time | date('H:i:s')}}</p>
   <p>Résumé : <br> {{movie.resume}}</p>

   {% for artists in artists %}

      {% if artists.role == 1 %}
         {% set role = 'Acteur' %}

         {% elseif artists.role == 2 %}
            {% set role = 'Réalisateur' %}
         {% elseif artists.role == 3 %}
            {% set role = 'Réalisateur & Acteur' %}
      {% endif %}

      <ul>
         <li>{{role}} : <a href="{{baseUrl}}/Films/Artiste_{{artists.id_artist}}">{{artists.first_name}}
               {{artists.last_name}}</a></li>
      </ul>
   {% endfor %}

   {% for comment in comments %}

      <h2>{{ comment.title }}</h2>
      <p>{{ comment.content }}</p>
      <p>id Commentaire: {{ comment.id_comment }}, id Utilisateur {{ comment.id_user }}Date: {{ comment.date }}</p>
         <div class="star-color">
         {#{% if comment.note == 0 %}
            {% elseif comment.note == 1 %}
               <a  >☆</a>
            {% elseif comment.note == 2 %}
               <a  >☆</a>
               <a  >☆</a>
            {% elseif comment.note == 3 %}
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
            {% elseif comment.note == 4 %}
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
            {% elseif comment.note == 5 %}
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
               <a  >☆</a>
            <br><br>
         {% endif %}#}
         {% for i in 1..comment.note %}
            <a  >☆</a>
         {% endfor %}
         </div>
   {% endfor %}

   {% block comment %}
      <form method="POST" action="{{baseUrl}}/Comments/addComment/{{movie.id_movie}}">
         <div class="form-group">
            <label for="exampleFormControlTextarea1">Commentaire:</label>
            
            <textarea class="form-control" name="ControlText" id="ControlText" rows="3"></textarea>
            <button type="submit" class="btn btn-success btn-sm mb-2">Poster</button>
            
         </div>
         <div class="rating">
            <a href="#5" title="Donner 5 étoiles">☆</a>
            <a href="#4" title="Donner 4 étoiles">☆</a>
            <a href="#3" title="Donner 3 étoiles">☆</a>
            <a href="#2" title="Donner 2 étoiles">☆</a>
            <a href="#1" title="Donner 1 étoile">☆</a><br><br>
         </div>
      </form>
   {% endblock %}
{% endblock %}
         <li>{{role}} : <a href="{{baseUrl}}/Artiste_{{artists.id_artist}}">{{artists.first_name}} {{artists.last_name}}</a></li>
      </ul>
   {% endfor %}
{% endblock %}
