{% extends "template.html.twig" %}

{% block title %}Film{% endblock %}

{% block body %}
<div style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12)" >
<div class="container rounded">
   <div class="d-flex pt-5">
      <img class="rounded img-thumbnail" src="{{movie.picture}}" style="width:400px;height:500px;"></img>
      <div class="d-flex flex-column ml-5">         
         <h1 class="pb-5 text-center text-white">{{movie.title}}</h1> 
         <div class="d-flex justify-content-center">
            <p class="mx-5 mb-5 text-white"><span class="font-weight-bold">Année : </span>{{movie.year}}</p>
            <p class="mx-5 mb-5 text-white"><span class="font-weight-bold">Genre : </span>{{movie.style}}</p>
            <p class="mx-5 mb-5 text-white"><span class="font-weight-bold">Durée : </span>{{movie.time | date('H:i:s')}}</p>
         </div> 
         <p class="font-weight-bold text-white">Résumé : <br>  </p>     
         <p class="text-centerp text-break text-white"> {{movie.resume}}</p> 
      </div>
   </div>  
    
   <h1 class="text-center m-5 text-white">Les artistes</h1>
   

   <div class="d-flex justify-content-center flex-wrap">
      {% for artists in artists %}
   <h2>{{movie.title}}</h2>
   <img src="{{movie.picture}}"></img>
   <p>{{movie.year}}</p>
   <p>{{movie.style}}</p>
   <p>{{movie.time}}</p>
   <p>{{movie.resume}}</p>

         {% if artists.role == 1 %}
            {% set role = 'Acteur' %}

            {% elseif artists.role == 2 %}
               {% set role = 'Réalisateur' %}

            {% elseif artists.role == 3 %}
               {% set role = 'Réalisateur & Acteur' %}

      {% endif %}

      <div class="d-flex flex-column m-5">     
         <h6 class="text-center">{{artists.first_name}} {{artists.last_name}}<br>{{role}}</h6>
         <a href="{{baseUrl}}/Films/Artiste_{{artists.id_artist}}"><img class="rounded img-thumbnail m-3" src="{{artists.picture}}" style="width:200px;height:300px;"></img></a> 
      </div>

   {% endfor %}
<<<<<<< HEAD
   </div>  
   <a class="text-decoration-none text-reset" href="{{baseUrl}}/Films"><input class="btn btn-primary mt-5 btn-lg" type="submit" value="Retour"></a>
</div>
=======

>>>>>>> f2be138070a8bcc6cabc25fe8f943fe420bf064e
{% endblock %}

