{% extends "template.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

<<<<<<< HEAD
{% for login in utilisateur %}
<p>{{pseudo.pseudo}}</p>
{% endfor %}
{% if slug is null %}

<h2>Connectez-vous :</h2>

<div class="container">
   <div class="row">
      <div class="wrapper">
         <form name="login" method="POST" action="{{baseUrl}}/Connexion">
            <div class="form-group">
               <label for="pseudo">
                  <h4>Pseudo</h4>
               </label>
               <input type="text" name="pseudo" class="form-control" id="pseudo">
               <p><a href="#">J'ai oublié mon pseudo :'(</a></p>
            </div>
            <div class="form-group">
               <label for="mdp">
                  <h4>Mot de passe</h4>
               </label>
               <input type="password" class="form-control" name="mdp">
            </div>
            <div class="form-group">
               <a href="{{baseUrl}}/Inscription" class="badge badge-light col">Pas encore inscrit ?! :o</a>
               <button type="submit" class="btn btn-outline-info col">Se connecter</button>
               <p class="text-danger text-center col">{{error}}</p>
            </div>
         </form>
      </div>
   </div>
</div>
{% endif %}

{% if (slug == 'Inscription') %}

   {{ dump("test")}}

   <h2>Créez un compte :</h2>

   <div class="container">
      <div class="row">
         <form name="register" method="POST" action="{{ baseUrl }}/Inscription">

            <div class="form-group">
               <label for="regMail">Adresse mail *</label>
               <input type="email" class="form-control" name="mail" value=" {{ inputMail }}">
               <small id="requiredField" class="form-text text-muted"> {{ mailError }}</small>
            </div>

            <div class="form-group">
               <label for="regPseudo">Pseudo *</label>
               <input type="text" class="form-control" name="pseudo" value="{{ inputPseudo }}">
               <small id="requiredField" class="form-text text-muted"> {{ pseudoError }}</small>
            </div>

            <div class="form-group">
               <label for="regPassword">Mot de passe *</label>
               <input type="password" class="form-control" name="mdp">
               <small id="requiredField" class="form-text text-muted"> {{ mdpError }}</small>
            </div>

            <div class="form-group">
               <label for="photo">Photo de profil</label>
               <input type="file" class="form-control-file" name="photo">
            </div>

            <div class="form-group">
               <button type="submit" class="btn btn-outline-info col">S'inscrire</button>
               <p class="text-danger text-center col">{{ generalError }}</p>
            </div>

            <small id="requiredField" class="form-text text-muted">Champs obligatoires *</small>
         </form>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}
=======
	{% for login in utilisateur %}
		<p>{{pseudo.pseudo}}</p>
	{% endfor %}

	{% if slug is null %}

		<h2>Connectez-vous :</h2>

		<div class="container">
			<div class="row">
				<form name="login" class="col-4" method="POST" action="{{baseUrl}}/Connexion/post">

					<div class="form-group">
						<label for="pseudo">
							<h4>Pseudo</h4>
						</label>
						<input type="text" name="pseudo" class="form-control" id="pseudo">
					</div>

					<div class="form-group">
						<label for="mdp">
							<h4>Mot de passe</h4>
						</label>
						<input type="password" class="form-control" name="mdp">
						<p>
							<a href="{{baseUrl}}/MotDePasseOublie">J'ai oublié mon mot de passe :'(</a>
						</p>
					</div>

					<div class="form-group">
						<a href="{{ baseUrl }}/Inscription" class="badge badge-light col">Pas encore inscrit ?! :o</a>
						<button type="submit" class="btn btn-outline-info col">Se connecter</button>
						<p class="text-danger text-center col">{{error}}</p>
					</div>

				</form>
			</div>
		</div>

	{% elseif (slug == 'MotDePasseOublie') %}

		<h2>Mot de passe oublié</h2>

		<p>Donnez nous votre adresse mail, et nous vous enverrons un mail afin que vous puissiez changer votre mot de passe</p>

		<div class="container">
			<div class="row">
				<form name="forgetPassword" class="col-4" method="POST" action="{{ baseUrl }}/MotDePasseOublie/post">

					<div class="form-group">
						<label for="regMail">
							<h4>Adresse mail</h4>
						</label>
						<input type="email" class="form-control" name="mail" value=" {{ inputMail }}">
						<small class="form-text text-danger">
							{{ mailError }}</small>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-outline-info col">Envoyer</button>
						<p class="text-danger text-center col">{{ generalError}}</p>
					</div>

				</form>
			</div>
		</div>



   {% elseif (slug == 'user=user2') %}


		<h2>Nouveau mot de passe</h2>

		<p>Insérez votre nouveau mot de passe ici</p>

		<div class="container">
			<div class="row">
				<form name="changePassword" class="col-4" method="POST" action="{{ baseUrl }}/ChangerMotDePasse/post">

					<div class="form-group">

						<label for="regMail">
							<h4>Mot de passe :</h4>
						</label>

						<input type="password" class="form-control" name="mdp">

						<small class="form-text text-danger">
							{{ mdpError }}</small>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-outline-info col">Envoyer</button>

						<p class="text-danger text-center col">{{ generalError }}</p>
					</div>
				</form>
			</div>
		</div>

	{% elseif (slug == 'Inscription') %}

		<h2>Créez un compte :</h2>

		<div class="container">
			<div class="row">
				<form name="register" class="col-4" method="POST" action="{{ baseUrl }}/Inscription/post">

					<div class="form-group">
						<label for="regMail">
							<h4>Adresse mail *</h4>
						</label>
						<input type="email" class="form-control" name="mail" value=" {{ inputMail }}">
						<small id="requiredField" class="form-text text-danger">
							{{ mailError }}</small>
					</div>

					<div class="form-group">
						<label for="regPseudo">
							<h4>Pseudo *</h4>
						</label>
						<input type="text" class="form-control" name="pseudo" value="{{ inputPseudo }}">
						<small id="requiredField" class="form-text text-danger">
							{{ pseudoError }}</small>
					</div>

					<div class="form-group">
						<label for="regPassword">
							<h4>Mot de passe *</h4>
						</label>
						<input type="password" class="form-control" name="mdp">
						<small id="requiredField" class="form-text text-danger">
							{{ mdpError }}</small>
					</div>

					<div class="form-group">
						<label for="photo">
							<h4>Photo de profil</h4>
						</label>
						<input type="file" class="form-control-file" name="avatar" src="localhost/allo_jati/assets/avatar/">
						<small id="requiredField" class="form-text text-danger">
							{{ avatarError }}</small>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-outline-info col">S'inscrire</button>
						<p class="text-danger text-center col">{{ generalError }}</p>
					</div>

					<small id="requiredField" class="form-text text-muted">Champs obligatoires *</small>
				</form>
			</div>
		</div>
	{% endif %}	


{% endblock %}


>>>>>>> 8f0137045b699dfa65499a63832d5bd43e25c280
