{% extends "template.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	{% for login in utilisateur %}
		<p>{{pseudo.pseudo}}</p>
	{% endfor %}


	<div
		class="container">

		{# FORMULAIRE DE CONNEXION #}
		{% if slug is null %}

			<div class="row justify-content-md-center">
				<form name="login" class="col-4 users-form" method="POST" action="{{baseUrl}}/Connexion/post">

					<h2>Connectez-vous :</h2>

					{# PSEUDO #}
					<div class="form-group users">
						<label for="pseudo">
							<h4>Pseudo</h4>
						</label>
						<input type="text" name="pseudo" class="form-control" id="pseudo">
					</div>
					{# MOT DE PASSE #}
					<div class="form-group users">
						<label for="mdp">
							<h4>Mot de passe</h4>
						</label>
						<input type="password" class="form-control" name="mdp">
						<p>
							<a href="{{baseUrl}}/MotDePasseOublie" id="lien-vers-mdp-oublie">J'ai oublié mon mot de passe :'(</a>
						</p>
					</div>
					<div
						class="form-group users">
						{# LIEN VERS FORMULAIRE INSCRIPTION #}
						<a href="{{ baseUrl }}/Inscription" class="badge badge-light col">Pas encore inscrit ?! :o</a>

						{# SUBMIT #}
						<button type="submit" class="btn btn-outline jati-colors-btn col">Se connecter</button>
						<p class="text-danger text-center col">{{error}}</p>
					</div>
				</form>
			</div>


			{# FORMULAIRE DE MOT DE PASSE OUBLIÉ #}
		{% elseif (slug == 'MotDePasseOublie') %}


			<div class="row justify-content-md-center">
				<form name="forgetPassword" class="col-4 users-form" method="POST" action="{{ baseUrl }}/MotDePasseOublie/post">

					<h2>Mot de passe oublié</h2>

					<p>Changez de mot de passe grâce a votre adresse mail !</p>

					{# MAIL #}
					<div class="form-group users">
						<label for="regMail">
							<h4>Adresse mail</h4>
						</label>
						<input type="email" class="form-control" name="mail" value=" {{ inputMail }}">
						<small class="form-text text-danger">
							{{ mailError }}</small>
					</div>

					{# SUBMIT #}
					<div class="form-group users">
						<button type="submit" class="btn btn-outline jati-colors-btn col">Envoyer</button>
						<p class="text-danger text-center col">{{ generalError}}</p>
					</div>

				</form>
			</div>


			{# FORMULAIRE POUR CHANGER MOT DE PASSE #}
		{% elseif (slug == slugurl) %}


			<div class="row justify-content-md-center">
				<form name="changePassword" class="col-4 users-form" method="POST" action="{{ baseUrl }}/ChangerMotDePasse/post">

					<h2>Nouveau mot de passe :</h2>

					<p>{{ userPseudo }}, veuillez entrer un nouveau mot de passe ici :</p>

					{# MOT DE PASSE #}
					<div class="form-group users">
						<input type="password" class="form-control" name="mdp">
						<small class="form-text text-danger">
							{{ mdpError }}</small>
					</div>

					{# SUBMIT #}
					<div class="form-group users">
						<button type="submit" class="btn btn-outline jati-colors-btn col">Envoyer</button>
						<p class="text-danger text-center col">{{ generalError }}</p>
					</div>

				</form>
			</div>


			{# FORMULAIRE D'INSCRIPTION #}
		{% elseif (slug == 'Inscription') %}

			<div class="row justify-content-md-center">
				<form name="register" class="col-4 users-form" method="POST" action="{{ baseUrl }}/Inscription/post">

					<h2>Créez un compte :</h2>

					{# MAIL #}
					<div class="form-group users">
						<label for="regMail">
							<h4>Adresse mail *</h4>
						</label>
						<input type="email" class="form-control" name="mail" value=" {{ inputMail }}">
						<small id="requiredField" class="form-text text-danger">
							{{ mailError }}</small>
					</div>

					{# PSEUDO #}
					<div class="form-group users">
						<label for="regPseudo">
							<h4>Pseudo *</h4>
						</label>
						<input type="text" class="form-control" name="pseudo" value="{{ inputPseudo }}">
						<small id="requiredField" class="form-text text-danger">
							{{ pseudoError }}</small>
					</div>

					{# MOT DE PASSE #}
					<div class="form-group users">
						<label for="regPassword">
							<h4>Mot de passe *</h4>
						</label>
						<input type="password" class="form-control" name="mdp">
						<small id="requiredField" class="form-text text-danger">
							{{ mdpError }}</small>
					</div>

					{# Photo de profile #}
					<div class="form-group users">

						<input type="file" name="file" id="file" class="inputfile"/>
						<label for="file">Photo de profile</label>

						<small id="requiredField" class="form-text text-danger">
							{{ avatarError }}</small>
					</div>

					{# SUBMIT #}
					<div class="form-group users">
						<button type="submit" class="btn btn-outline jati-colors-btn col">S'inscrire</button>
						<p class="text-danger text-center col">{{ generalError }}</p>
					</div>

					<small id="requiredField" class="form-text text-muted">Champs obligatoires *</small>
				</form>
			</div>
		{% endif %}

	</div>
{% endblock %}
