{% extends "template.html.twig" %}

{% block title %}{{artist.first_name}} {{artist.last_name}}{% endblock %}

{% block body %}
<div class="container">
   <div class="flex-column align-items-start bd-highlight">
      <div class="d-flex pt-5">
         <div class="d-flex flex-column">

            <img class="rounded" src="{{artist.picture}}" style="width:300px;height:400px;">

            <div class="mt-4">
               <span class="font-weight-bold">Date de naissance :</span> {{artist.birth_day | date("d/m/Y")}} <br>
               <span class="font-weight-bold">{{role}}</span> <br> <br>
            </div>

            <h3 class="mb-4">A voir aussi dans :</h3>

            <!-- Affiche les films ou l'acteur est présent -->
            {% for movies in movies %}
               <a href="{{baseUrl}}/Film_{{movies.id_movie}}">
                  <li>{{movies.title}}</li>
               </a>
            {% endfor %}
         </div>

         <div class="d-flex flex-column ml-5">
            <h2 class="text-center mx-auto mb-5">
               {{artist.first_name}} {{artist.last_name}}
            </h2>
            <p>
               <span class="font-weight-bold mt-5">Biographie :
               </span><br>
               {{artist.bio}}
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
