{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}
<main>
   <div class="title-center" >
      <h2>Artistes</h2>
   </div>

   <div class="container">
      {% for artists in artists %}
         <div class="box-shadow">
            <a href="{{baseUrl}}/Artistes/Artiste_{{artists.id_artist}}">
               <img src="{{ artists.picture }}">
            </a>

            <div class="box-title">
               <a href="{{baseUrl}}/Artistes/Artiste_{{artists.id_artist}}">
                  <p>{{ artists.first_name }} {{ artists.last_name }}</p>
               </a>
            </div>
         </div>
      {% endfor %}
   </div>
</main>
{% endblock %}
