{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}

<h2>Bienvenue sur la page de l'artiste demandé</h2>
<p>
   Ici on peut afficher la fiche de l'artiste avec toutes les infos !
</p>

<div class="">
   <img src="{{ artist.picture }}">
   <p>Prénom : {{ artist.first_name }}</p>
   <p>Nom : {{ artist.last_name }}</p>
   <p>Date de naissance : {{ artist.birth_day | date("d/m/Y") }}</p>
   <p>Biographie : <br> {{ artist.bio }}</p>
</div>

{% endblock %}