{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}
   {% for artists in artists %}
      <div class="">
         <p>{{ artists.first_name }} {{ artists.last_name }}</p>
         <a href="{{baseUrl}}/Artistes/Artiste_{{artists.id_artist}}">
            <img src="{{ artists.picture }}">
         </a>
      </div>
   {% endfor %}
{% endblock %}
